table {
    table-layout: fixed;
    width: 100%;
}
/* <!-- <link href="{{ asset('assets/css/table.css') }}" rel="stylesheet" /> --> */


table.borderless {
    border-collapse: separate;
    border-spacing: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-left-color: #fff;
}

th,
td {
    border-width: 0px;
    padding: 0.5em;
    position: relative;
    text-align: left;
}

th.noborder,
td.noborder {
    border-color: #000;
    border-width: 1px;
    padding: 0.5em;
    position: relative;
    text-align: left;
}

th,
td {
    border-radius: 0.25em;
    border-style: solid;
}

td {
    border-color: #ddd;
}

page {
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    background-color: white;
    padding: 0.5in;
    border-color: #000;
    border-bottom-style: solid;
    border: 1px;
}

page[size="A4"] {
    /* width: 21cm; */
    /* height: 30.1cm; */
}

page[size="A4"][layout="portrait"] {
    /* width: 29.7cm; */
    /* height: 21cm; */
}

/* article */
article {
    border-color: #000;
    border-bottom-style: solid;
    border: 1px;
}

article,
article address,
table.meta,
table.inventory {
    margin: 0px;
}

article:after {
    clear: both;
    content: "";
    display: table;
}

article h1 {
    clip: rect(0 0 0 0);
    position: absolute;
}

article address {
    float: left;
    font-weight: bold;
}

/* table meta & balance */
table.photo {
    float: right;
    width: 42%;
}

table.meta,
table.balance {
    float: left;
    width: 40%;
}

table.meta:after,
table.photo:after,
table.balance:after {
    clear: both;
    content: "";
    display: table;
}

/* table meta */

table.meta th {
    width: 40%;
}

table.meta td {
    width: 60%;
}

/* table items */

table.inventory,
table.address,
table.language,
table.digital {
    clear: both;
    width: 100%;
}

table.inventory th,
table.address th,
table.language th,
table.digital th,
table.nationalid th {
    font-weight: bold;
    text-transform: uppercase;
}

/* table balance */

table.balance th,
table.balance td {
    width: 50%;
}

table.balance td {
    text-align: right;
}

/* aside */
aside {
    margin-top: 10px;
}

aside h1 {
    border: none;
    border-width: 0 0 1px;
    margin: 0 0 1em;
}

aside h1 {
    border-color: #999;
    border-bottom-style: solid;
}

.grphead {
    font-weight: bolder;
    text-align: center;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    .page {
        margin: 0;
        border: 0;
        width: 21cm;
        min-height: 29cm;
        page-break-after: always;
    }

    .hidden {
        display: none;
    }
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
    }

    .page-break {
        display: block;
        page-break-before: always;
    }

    html {
        background: none;
    }

    body {
        box-shadow: none;
    }

    span:empty {
        display: none;
    }

    .add,
    .cut {
        display: none;
    }
}
